---
import { projects } from "../utils/ProjectsList";
import "../styles/projects.sass";
---

<section id="projects" class="projects">
    <article class="projects__container">
        <h2 class="projects__title">Proyectos</h2>
        <div class="swiper">
            <div class="swiper-wrapper">
                {projects.map((project) => (
                    <div class="swiper-slide">
                        <article class="project-card">
                            <div class="project-card__image">
                                <img
                                    src={project.image}
                                    alt={project.title}
                                    loading="lazy"
                                    class="project-card__image--img"
                                />
                            </div>
                            <div class="project-container">
                                <h3 class="project-card__title">{project.title}</h3>
                                <p class="project-card__description">{project.description}</p>
                                <div class="tech-stack">
                                    {project.tech.map((tech) => (
                                        <span class="tech-tag">{tech}</span>
                                    ))}
                                </div>
                                <div class="project-card__links">
                                    <a
                                        href={project.linkRepo}
                                        target="_blank"
                                        class="project-card__link"
                                    >
                                        Repositorio
                                    </a>
                                    {project.linkDemo && (
                                        <a
                                            href={project.linkDemo}
                                            target="_blank"
                                            class="project-card__link"
                                        >
                                            Demo
                                        </a>
                                    )}
                                </div>
                            </div>
                        </article>
                    </div>
                ))}
            </div>
            
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
    
        </div>
    </article>
</section>

<script>
    import Swiper from "swiper";
    import { Navigation, Pagination, Autoplay } from "swiper/modules";
    import "swiper/css";
    import "swiper/css/navigation";
    import "swiper/css/pagination";

    new Swiper(".swiper", {
        modules: [Navigation, Pagination, Autoplay],
        grabCursor: true,
        centeredSlides: true,
        slidesPerView: 1,
        spaceBetween: 30,
        loop: true,
        autoplay: {
           delay: 5000,
           disableOnInteraction: false,
        },
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
            dynamicBullets: true,
        },
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
        breakpoints: {
            640: {
                slidesPerView: 2,
            },
            1024: {
                slidesPerView: 3,
            },
        },
    });
</script>
